body {
    position: relative;
    margin: 0;
    color: lightgreen;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("../images/background-placeholder.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(8px);
    transform: scale(1.05);

    z-index: -1;
}

nav {
    background-color: darkolivegreen;
    color: white;
}

footer {
    background-color: black;
    color: white;
}

#navLogo {
    width: 300px;
    height: 150px;
}

#companyName {
    padding-top: 0px;
}

#companyNameDiv {
    border: 5px solid black;
    border-radius: 20px;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

#companyDescriptionDiv {
    margin-top: 25px;
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
}