body {
    background-color: darkgreen;
    color: lightgreen;
}

nav {
    background-color: darkolivegreen;
    color: white;
}

footer {
    background-color: black;
    color: white;
}

#navLogo {
    width: 300px;
    height: 150px;
}

#companyName {
    padding-top: 30px;
}

#companyNameDiv {
    border: 5px solid black;
    border-radius: 20px;
    width: 50%;
}

#companyDescription {
    margin-top: 25px;
    border: 2px solid black;
    width: 80%;
}